.bg-red {
    background-color: red;
}
.bg-yellow {
    background-color: yellow;
}
.bg-purple {
    background-color: purple;
}
.bg-green {
    background-color: green;
}

.hidden {
    visibility: hidden;
}